.cards{
  
 
  box-shadow: 0 0 3px rgb(17, 15, 15), 0 0 6px rgb(193, 193, 193),
    0 0 9px rgb(225, 174, 7), 0 0 12px rgb(119, 118, 119),
    0 0 15px rgb(77, 77, 78), 0 0 18px rgb(225, 174, 7);
   
  
}

.img{
  width: 100%;
  height: 250px;
  
  
 
}



.btn:hover{

  
  transform: scale(1.1);
  transition: all 0.5s;
  z-index: 1000;
  position: relative;
  

}