.container{
    background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-image: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
  url('../images/pexels-thibault-trillet-167636.jpg');
  
height: 100vh;   ;


}

.container2{
  box-shadow:  0 0 3px rgb(17, 15, 15), 0 0 6px rgb(193, 193, 193),
    0 0 9px rgb(225, 174, 7), 0 0 12px rgb(119, 118, 119),
    0 0 15px rgb(77, 77, 78), 0 0 18px rgb(225, 174, 7);
    width: auto;
    height: 100vh;
    background: #1c283383 ;
}

