.Container{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background:  #1C2833  ; 
    height: 100%;
     
}

.divImg{
    margin-left: 100px; 
    cursor: pointer;
}



.img{
    margin-top: 150px;
    
    border-style:double;
    border-color: #1C2833 ;
    border-width: 5px;
    box-shadow: 0 0 3px rgb(190, 190, 190), 0 0 6px rgb(193, 193, 193),
    0 0 9px rgb(225, 174, 7), 0 0 12px rgb(119, 118, 119),
    0 0 15px rgb(77, 77, 78), 0 0 18px rgb(225, 174, 7);
}

.img:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    z-index: 1000;
    position: relative; 
    box-shadow: 0 0 3px rgb(251, 234, 0), 0 0 6px rgb(193, 193, 193),
    0 0 9px rgb(225, 174, 7), 0 0 12px rgb(235, 200, 3),
    0 0 15px rgb(77, 77, 78), 0 0 18px rgb(225, 174, 7);
}



.container{
    background: #f0ad4e;
    height: 100vh;
}


