.add{
    position: absolute;
    margin-top: 20px;
    margin-left: 100px;
    background: transparent;
    background-color: transparent;
}

.add :hover{
    cursor: pointer;
    transition:400ms;
    color: #ffcc28;     
}  

